<% include ../partials/header %>

    <div class="bg-info mb-5">
        <div class="container">
            <div class="py-4 text-white">
                <h3>Search results for "
                    <strong>
                        <em>
                            <%= query %>
                    </strong>
                    </em>"
                </h3>
            </div>
            <div>
                <p class="text-light ml-2 mb-2 px-2 font-weight-normal text-lowercase border-left">Top Results</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12">
                <ul class="list-group">
                    <% topics.forEach(function(topic) { %>
                        <a href="/topics/<%= topic.name %>" class="list-group-item list-group-item-action flex-column">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    <%= topic.name %>
                                </h5>
                                <small>
                                    <%= moment(topic.createdAt).fromNow() %>
                                </small>
                            </div>
                            <p class="mb-1">
                                <%= topic.description %>
                            </p>
                            <small>Created by
                                <strong>
                                    <%= topic.author.username %>
                                </strong>
                            </small>
                        </a>
                        <% }) %>
                </ul>
            </div>
        </div>

    </div>

    <% include ../partials/footer %>