<% include ../partials/header %>

  <div class="jumbotron jumbotron-topic">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
          <span class="badge badge-dark text-uppercase">Topic</span>
          <h1 class="jumbotron-topic-heading text-center">
            <%= topic.name %>
          </h1>
          <p class="lead text-muted text-center">
            <%= topic.description %>
          </p>
          <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12">

              <% if(!isFollowing) { %>

                <button key="<%= topicKey %>" class="btn btn-success btn-md btn-block is-following-button" type="follow">
                  <span>
                    <i class="fas fa-user-plus"></i>
                  </span>Follow
                </button>

                <% } else { %>
                  <button key="<%= topicKey %>" class="btn btn-outline-danger btn-md btn-block is-following-button" type="unfollow">
                    <span>
                      <i class="fas fa-user-slash"></i>
                    </span>Unfollow
                  </button>
                  <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-5">
        <ul class="list-group">
          <li class="list-group-item">
            <p class="display-5">
              Topic Creator:
              <span class="font-weight-bold">
                <a href="#">
                  <%= topic.author.username %>
                </a>
              </span>
            </p>
          </li>
          <li class="list-group-item">
            <p class="display-5">
              Created:
              <span class="font-weight-bold">
                <%= moment(topic.createdAt).fromNow() %>
              </span>
            </p>
          </li>
          <li class="list-group-item">
            <p class="display-5">
              </em>Followers:</em>
              <span class="font-weight-bold">
                36,233
              </span>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-8 col-sm-12">
        <h3>Most Recent Polls</h3>
        <% var keys = Object.keys(polls) %>

          <% keys.forEach(function(key) { %>
            <div class="card mb-5">
              <div class="card-header">
                Created by
                <strong>
                  <%= polls[key].author.username %>
                </strong>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <%= polls[key].question %>
                </h4>
                <div class="row">
                  <div class="col-sm-12 col-md-6 offset-md-3">
                    <div class="input-group" id="<%= key %>">
                      <button votes="<%= polls[key].option1.votes %>" class="option1 form-control btn btn-outline-dark py-3">
                        <%= polls[key].option1.text %>
                      </button>
                      <button votes="<%= polls[key].option2.votes %>" class="option2 form-control btn btn-outline-dark py-3">
                        <%= polls[key].option2.text %>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <span class="badge badge-pill badge-info">
                    <%= polls[key].option1.votes + polls[key].option2.votes %>
                      votes
                  </span>
                  <span class="badge badge-pill badge-dark">
                    <%= moment(polls[key].createdAt).fromNow() %>
                  </span>
                </div>
              </div>
            </div>
            <% }) %>
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous "></script>
  <script src="/lib/followTopic.js"></script>

  <% include ../partials/footer %>